*{
    background-size: cover;
}

.h1{
    margin-top: 100px;
    padding: 40px;
    color: pink;
}

form{
    text-align: center;
}
form .text {
    display: inline-block;
    margin-top: 45px;
    border: 0;
    width: 560px;
    height: 35px;
    font-size: 14px;
    outline: none;
    border: 2px solid pink;
}	
form .search {
    margin-top: 45px;
    width: 90px;
    height: 38px;
    border: 2px solid pink;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-color: pink;
    color: #FFFFFF;
}
